*~
*.aux
*.log
*.idx
*.toc
*.ilg
*.bak

# sdb files used for caching:
*.dir
*.pag
# another index file:
*.line_index.json
*.para

/*.pdf
*.pos
iliad.tex
*.freq
vocab_ch_*.txt
help_gloss
warnings
epos_debug.txt
core/*
core.txt
core/homer.freq
debug.txt
iliad/core.tex
iliad/figs/cover.png
temp.tex
temp_demo.tex
*.prose
wiktextract/la_en.json
ambig_temp.json
temp_usage.tex
*.bbcode
